<% provide(:title, "Contact Us") %>

<div class="page-header">

<h1>Contact Dublin Rental Bikes</h1>

</div>

<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Dublin Rental Bikes Contact us Info</div>
  <div class="panel-body">

<table class="table">
  <tr>
      <th>Address</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="2"></th>
  </tr>
  
  </div>
 
      <tr>
        <td>Dublin city center</br></br>
        Office hours: </br>9:30 to 18:30 Mon - Fri</br>
        09:00 - 2:30 Sat</td>
        <td>testdublinbikes@gmail.com</td>
        <td>+353 12345643</br></br>
        Lines open: 24 hours </br>
        <br></br>
       </td>
      </tr>
</table>

</div>
